<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/form.css" />
  <script
    src="https://unpkg.com/htmx.org@1.9.9"
    integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
    crossorigin="anonymous"
  ></script>
  <body>
    <div class="container">
      <a href="/dashboard" class="back-btn">cancel</a>
      <form
        class="form"
        id="form"
        name="form"
        hx-post="http://localhost:3000/form"
        hx-target=".container-btn"
        hx-swap="beforeend"
      >
        <div class="tab" id="tab-3" style="display: block">
          <h1>Information Asset</h1>
          <label for="">Choose Information Assets</label>

          <label for="owners">Owner(s): </label>

          <br />

          <label>
            <h4>Security Requirements</h4>

            <label for="confidentiality">Confidentiality: </label>

            <label for="integrity">Integrity: </label>

            <label for="availability">Availability: </label>
          </label>

          <label for="misr">Most Important Security Requirement: </label>

          <hr />

          <h4>Deskripsi Kontainer</h4>

          <label for="owners">Owner(s)</label>

          <label for="">
            <h4>Technical</h4>
            <label for="technical_internal">Internal: </label>
            <label for="technical_external">External: </label>
          </label>

          <label for="">
            <h4>Physical</h4>
            <label for="physical_internal">Internal: </label>
            <label for="physical_external">External: </label>
          </label>

          <label for="">
            <h4>People</h4>
            <label for="people_internal">Internal:</label>
            <label for="people_external">External: </label>
          </label>

          <hr />

          <h1>Identify Risk/Threats</h1>

          <label for="concern">Area Of Concern:</label>
          <textarea
            placeholder="A descriptive statement that details a real-world condition or situation
            that could affect an information asset in your organization."
            name="concern"
            id="concern"
            cols="70"
            rows="3"
          ></textarea>

          <label for="actor">Actor:</label>
          <textarea
            placeholder="Who would exploit the weakness?"
            name="actor"
            id="actor"
            cols="50"
            rows="3"
          ></textarea>

          <label for="means">Means: </label>
          <textarea
            placeholder="How would the actor do it? What would they do?"
            name="means"
            id="means"
            cols="50"
            rows="3"
          ></textarea>

          <label for="motive">Motive: </label>
          <textarea
            placeholder="What is the actor’s reason for doing it?"
            name="motive"
            id="motive"
            cols="50"
            rows="3"
          ></textarea>

          <label for="outcome">Outcome: </label>
          <p>What would be the resulting effect on the information asset?</p>
          <select name="outcome" id="outcome">
            <option selected disabled>Choose one...</option>
            <option value="Disclosure">Disclosure</option>
            <option value="Modification">Modification</option>
            <option value="Destruction">Destruction</option>
            <option value="Interruption">Interruption</option>
          </select>

          <label for="sr">Security Requirements: </label>
          <textarea
            placeholder="How would the information asset’s security requirements be breached?"
            name="sr"
            id="sr"
            cols="70"
            rows="3"
          ></textarea>

          <label for="probability">Probability: </label>
          <p>What is the likelihood that this threat scenario could occur?</p>
          <select name="probability" id="probability">
            <option selected disabled>Choose one...</option>
            <option value="High">High</option>
            <option value="Medium">Medium</option>
            <option value="Low">Low</option>
          </select>

          <label for="consequences">Consequences: </label>
          <textarea
            placeholder="What are the consequences to the organization or the information asset
            owner as a result of the outcome and breach of security requirements?"
            name="consequences"
            id="consequences"
            cols="70"
            rows="5"
          ></textarea>

          <label for="">Severity:</label>
          <p>
            How severe are these consequences to the organization or asset owner
            by impact area?
          </p>
          <table>
            <thead>
              <tr>
                <th>Impact Area</th>
                <th>Value</th>
                <th>Score</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Reputation & Customer Confidence</td>
                <td>
                  <select
                    name="area"
                    id="area1"
                    hx-post="/score/area1/{{ .ProjectId }}"
                    hx-target="#score1"
                  >
                    <option selected disabled>Choose one...</option>
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                  </select>
                </td>
                <td id="score1"></td>
              </tr>
              <tr>
                <td>Financial</td>
                <td>
                  <select
                    name="area"
                    id="area2"
                    hx-post="/score/area1/{{ .ProjectId }}"
                    hx-target="#score2"
                  >
                    <option selected disabled>Choose one...</option>
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                  </select>
                </td>
                <td id="score2"></td>
              </tr>
              <tr>
                <td>Productivity</td>
                <td>
                  <select
                    name="area"
                    id="area3"
                    hx-post="/score/area3/{{ .ProjectId }}"
                    hx-target="#score3"
                  >
                    <option selected disabled>Choose one...</option>
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                  </select>
                </td>
                <td id="score3"></td>
              </tr>
              <tr>
                <td>Safety & Health</td>
                <td>
                  <select
                    name="area4"
                    id="area4"
                    hx-post="/score/area4/{{ .ProjectId }}"
                    hx-target="#score4"
                  >
                    <option selected disabled>Choose one...</option>
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                  </select>
                </td>
                <td id="score4"></td>
              </tr>
              <tr>
                <td>Fines & Legal Penalties</td>
                <td>
                  <select
                    name="area5"
                    id="area5"
                    hx-post="/score/area5/{{ .ProjectId }}"
                    hx-target="#score5"
                  >
                    <option selected disabled>Choose one...</option>
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                  </select>
                </td>
                <td id="score5"></td>
              </tr>
            </tbody>
          </table>

          <hr />

          <h1>Mitigate Risk/Threats</h1>
          <p>
            Based on the total score for this risk, what action will you take?
          </p>

          <table>
            <thead>
              <tr>
                <th>Containers</th>
                <th>Action/Control</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="font-size: 0.6rem; font-weight: 100; color: white">
                  What administrative, technical, and physical controls would
                  you apply on this container?
                </td>
                <td style="font-size: 0.6rem; font-weight: 100; color: white">
                  What residual risk would still be accepted by the
                  organization?
                </td>
              </tr>
              <tr>
                <td>Technical</td>
                <td>
                  <textarea
                    placeholder=""
                    name="people"
                    id="people"
                    cols="70"
                    rows="3"
                  ></textarea>
                </td>
              </tr>
              <tr>
                <td>Physical</td>
                <td>
                  <textarea
                    placeholder=""
                    name="people"
                    id="people"
                    cols="70"
                    rows="3"
                  ></textarea>
                </td>
              </tr>
              <tr>
                <td>People</td>
                <td>
                  <textarea
                    placeholder=""
                    name="people"
                    id="people"
                    cols="70"
                    rows="3"
                  ></textarea>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="container-btn">
          <button style="display: inline" type="button" id="submit-btn">
            Submit
          </button>
        </div>
      </form>
    </div>

    <script src="/form.js"></script>
  </body>
</html>
