<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/form.css" />
  <script
    src="https://unpkg.com/htmx.org@1.9.9"
    integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
    crossorigin="anonymous"
  ></script>
  <body>
    <div class="container">
      <a href="/" class="back-btn">cancel</a>
      <form
        class="form"
        id="form"
        name="form"
        hx-post="http://localhost:3000/form"
      >
        <!-- tab 1 - Project's Title -->
        <div class="tab" id="tab-1">
          <h1>Project's Title</h1>
          <input
            placeholder="type your project's title..."
            oninput="this.className = ''"
            name="title"
          />
        </div>

        <!-- tab 2 - Priorities -->
        <div class="tab">
          <label for="c1">Reputation and Customer Confidence: </label>
          <select
            name="c1"
            id="c1"
            hx-trigger="change"
            hx-post="/update-values"
            hx-swap="outerHTML"
          >
            <option value="none" selected>None</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>

          <br />

          <label for="c2">Financial: </label>
          <select
            name="c2"
            id="c2"
            hx-trigger="change"
            hx-post="/update-values"
            hx-swap="outerHTML"
          >
            <option value="none" selected>None</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>

          <br />

          <label for="c3">Productivity: </label>
          <select
            name="c3"
            id="c3"
            hx-trigger="change"
            hx-post="/update-values"
            hx-swap="outerHTML"
          >
            <option value="none" selected>None</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>

          <br />

          <label for="c4">Safety and Health: </label>
          <select
            name="c4"
            id="c4"
            hx-trigger="change"
            hx-post="/update-values"
            hx-swap="outerHTML"
          >
            <option value="none" selected>None</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>

          <br />

          <label for="c5">Fines and Legal Penalties: </label>
          <select
            name="c5"
            id="c5"
            hx-trigger="change"
            hx-post="/update-values"
            hx-swap="outerHTML"
          >
            <option value="none" selected>None</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>

        <!-- tab 3 - Asset Profile -->
        <!-- <div class="tab">
          <h1>CRITICAL INFORMATION ASSET PROFILE</h1>

          <label for="critical-asset">Critical Asset:</label>
          <input type="text" name="critical-asset" id="critical-asset" />

          <br />

          <label for="rationale">Rationale for Selection: </label>
          <textarea
            placeholder="Why is this information asset important to the organization?"
            name="rationale"
            id="rationale"
            cols="70"
            rows="5"
          ></textarea>

          <br />

          <label for="description">Description: </label>
          <textarea
            placeholder="What is the agreed-upon description of this information asset?"
            name="description"
            id="description"
            cols="70"
            rows="5"
          ></textarea>

          <br />

          <label for="owners">Owner(s): </label>
          <textarea
            placeholder="Who owns this information asset?"
            name="owners"
            id="owners"
            cols="50"
            rows="5"
          ></textarea>

          <br />

          <label>
            Security Requirements

            <br />

            <label for="confidentiality">Confidentiality: </label>
            <textarea
              placeholder="Only authorized personnel can view this information asset, as follows:"
              name="confidentiality"
              id="confidentiality"
              cols="60"
              rows="5"
            ></textarea>

            <br />

            <label for="integrity">Integrity: </label>
            <textarea
              placeholder="Only authorized personnel can modify this information asset, as follows:"
              name="integrity"
              id="integrity"
              cols="60"
              rows="5"
            ></textarea>

            <br />

            <label for="availability">Availability: </label>
            <textarea
              placeholder="This asset must be available for _____ hours,
              _____ days/week, _____ weeks/year."
              name="availability"
              id="availability"
              cols="60"
              rows="5"
            ></textarea>
          </label>

          <br />

          <label for="misr">Most Important Security Requirement</label>
          <select name="misr" id="misr">
            What is the most important security requirement for this information
            asset?
            <option selected disabled>Choose one...</option>
            <option value="Confidentiality">Confidentiality</option>
            <option value="Integrity">Integrity</option>
            <option value="Availability">Availability</option>
          </select>
        </div> -->
        <div class="tab">
          <h1>tab 3</h1>
        </div>

        <!-- tab 4 - Asset Container -->
        <div class="tab">
          <h1>Deskripsi Kontainer</h1>

          <label for="owners">Owner(s)</label>
          <textarea
            placeholder="Who owns this asset's container?"
            name="technical_internal"
            id="technical_internal"
            cols="50"
            rows="3"
          ></textarea>

          <label for="">
            Technical
            <label for="technical_internal">Internal</label>
            <textarea
              placeholder="What information systems use or process this information asset?"
              name="technical_internal"
              id="technical_internal"
              cols="70"
              rows="5"
            ></textarea>
            <label for="technical_external">External </label>
            <textarea
              placeholder="Are there customer or partner information systems that are externally managed that use or process this information asset?"
              name="technical_external"
              id="technical_external"
              cols="70"
              rows="5"
            ></textarea>
          </label>

          <label for="">
            Physical
            <label for="physical_internal">Internal</label>
            <textarea
              placeholder="Are there places, other than on technical assets, where this information asset exists?"
              name="physical_internal"
              id="physical_internal"
              cols="70"
              rows="5"
            ></textarea>
            <label for="physical_external">External </label>
            <textarea
              placeholder="Are there places external to the organization, other than on technical assets, where this information asset exists?"
              name="physical_external"
              id="physical_external"
              cols="70"
              rows="5"
            ></textarea>
          </label>

          <label for="">
            People
            <label for="people_internal">Internal</label>
            <textarea
              placeholder="What people might have detailed knowledge of this information asset?"
              name="people_internal"
              id="people_internal"
              cols="70"
              rows="5"
            ></textarea>
            <label for="people_external">External </label>
            <textarea
              placeholder="What people, external to your organization, might know about this information asset?"
              name="people_external"
              id="people_external"
              cols="70"
              rows="5"
            ></textarea>
          </label>
        </div>
        <!-- <div class="tab">
          <h1>tab 4</h1>
        </div> -->

        <div class="container-btn">
          <button type="button" id="prev-btn" onclick="changeTab(-1)">
            Previous
          </button>
          <button type="button" id="next-btn" onclick="changeTab(1)">
            Next
          </button>
          <button
            type="button"
            id="submit-btn"
            hx-post="/form"
            hx-target=".container-btn"
            hx-swap="beforeend"
          >
            Submit
          </button>
        </div>
      </form>

      <div style="text-align: center; margin-top: 0.5rem">
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
      </div>
    </div>

    <script src="/form.js"></script>
  </body>
</html>
