<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/add-risk.css" />
  <script
    src="https://unpkg.com/htmx.org@1.9.9"
    integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
    crossorigin="anonymous"
  ></script>
  <body>
    <div class="container">
      <a href="/dashboard" class="back-btn">cancel</a>
      <form
        class="form"
        id="form"
        name="form"
        hx-post="http://localhost:3000/add-risk/{{ .ProjectId }}"
        hx-target=".container-btn"
        hx-swap="beforeend"
      >
        <input type="text" hidden value="" id="asset_id" name="asset_id" />
        <input
          type="text"
          value="0"
          hidden
          name="total_score"
          id="total_score"
        />
        <div class="tab" id="container-tab" style="display: block">
          <h1>Information Asset</h1>
          <h4>Choose Information Assets:</h4>

          <select
            name="asset-selector"
            id="asset-selector"
            hx-post="/asset"
            hx-target="#target"
            hx-swap="outerHTML"
          >
            {{ if .Assets }}
            <option selected disabled>Select the asset to be identified</option>
            {{ range .Assets }}
            <option value="{{ .ID }}">{{ .CriticalAsset }}</option>
            {{ end }} {{ else }}
            <option>NONE</option>
            {{ end }}
          </select>

          <div id="target"></div>

          <h4 style="margin-top: 1rem">Asset Owner(s):</h4>
          <textarea
            style="width: 60%"
            id="asset-owners"
            rows="3"
            class="display_text"
            placeholder="none"
            disabled
            selected
          ></textarea>

          <h4 style="margin-top: 1rem">Rationale For Selection:</h4>
          <textarea
            class="display_text"
            style="width: 60%"
            id="rationale"
            rows="3"
            placeholder="none"
            disabled
            selected
          ></textarea>

          <h4 style="margin-top: 1rem">Description:</h4>
          <textarea
            class="display_text"
            style="width: 60%"
            id="desc"
            rows="3"
            placeholder="none"
            disabled
            selected
          ></textarea>

          <label>
            <h4>Security Requirements:</h4>

            <ol>
              <li>Confidentiality:</li>
              <textarea
                class="display_text"
                style="width: 100%"
                id="confidentiality"
                rows="3"
                placeholder="none"
                disabled
                selected
              ></textarea>
              <li>Integrity:</li>
              <textarea
                class="display_text"
                style="width: 100%"
                id="integrity"
                rows="3"
                placeholder="none"
                disabled
                selected
              ></textarea>
              <li>Availability:</li>
              <textarea
                class="display_text"
                style="width: 100%"
                id="availability"
                rows="3"
                placeholder="none"
                disabled
                selected
              ></textarea>
            </ol>
          </label>

          <h4 style="margin-top: 1rem">Most Important Security Requirement:</h4>
          <textarea
            class="display_text"
            style="width: 40%"
            id="misr"
            rows="1"
            placeholder="none"
            disabled
            selected
          ></textarea>

          <hr />

          <h1>Container Description</h1>

          <label>Container Owner(s):</label>
          <textarea
            class="display_text"
            style="width: 50%"
            id="container_owners"
            rows="3"
            placeholder="none"
            disabled
            selected
          ></textarea>

          <label>
            <h4>Technical:</h4>
            <ul>
              <li>Internal:</li>
              <textarea
                class="display_text"
                style="width: 100%"
                id="technical_internal"
                rows="3"
                placeholder="none"
                disabled
                selected
              ></textarea>
              <li>External:</li>
              <textarea
                class="display_text"
                style="width: 100%"
                id="technical_external"
                rows="3"
                placeholder="none"
                disabled
                selected
              ></textarea>
            </ul>
          </label>

          <label>
            <h4>Physical:</h4>
            <ul>
              <li>Internal:</li>
              <textarea
                class="display_text"
                style="width: 100%"
                id="physical_internal"
                rows="3"
                placeholder="none"
                disabled
                selected
              ></textarea>
              <li>External:</li>
              <textarea
                class="display_text"
                style="width: 100%"
                id="physical_external"
                rows="3"
                placeholder="none"
                disabled
                selected
              ></textarea>
            </ul>
          </label>

          <label>
            <h4>People:</h4>
            <ul>
              <li>Internal:</li>
              <textarea
                class="display_text"
                style="width: 100%"
                id="people_internal"
                rows="3"
                placeholder="none"
                disabled
                selected
              ></textarea>
              <li>External:</li>
              <textarea
                class="display_text"
                style="width: 100%"
                id="people_external"
                rows="3"
                placeholder="none"
                disabled
                selected
              ></textarea>
            </ul>
          </label>

          <hr />

          <h1 style="margin-top: 1rem">Identify Risk/Threats</h1>

          <label for="concern">Area Of Concern:</label>
          <textarea
            placeholder="A descriptive statement that details a real-world condition or situation that could affect an information asset in your organization."
            name="concern"
            id="concern"
            cols="70"
            rows="3"
          ></textarea>

          <label for="actor">Actor:</label>
          <textarea
            placeholder="Who would exploit the weakness?"
            name="actor"
            id="actor"
            cols="50"
            rows="3"
          ></textarea>

          <label for="means">Means: </label>
          <textarea
            placeholder="How would the actor do it? What would they do?"
            name="means"
            id="means"
            cols="50"
            rows="3"
          ></textarea>

          <label for="motive">Motive: </label>
          <textarea
            placeholder="What is the actor’s reason for doing it?"
            name="motive"
            id="motive"
            cols="50"
            rows="3"
          ></textarea>

          <label for="outcome">Outcome: </label>
          <p>What would be the resulting effect on the information asset?</p>
          <select name="outcome" id="outcome">
            <option selected disabled>Choose one...</option>
            <option value="Disclosure">Disclosure</option>
            <option value="Modification">Modification</option>
            <option value="Destruction">Destruction</option>
            <option value="Interruption">Interruption</option>
          </select>

          <label for="sr">Security Requirements: </label>
          <textarea
            placeholder="How would the information asset’s security requirements be breached?"
            name="security_req"
            id="security_req"
            cols="70"
            rows="3"
          ></textarea>

          <label for="probability">Probability: </label>
          <p>What is the likelihood that this threat scenario could occur?</p>
          <select name="probability" id="probability">
            <option selected disabled>Choose one...</option>
            <option value="High">High</option>
            <option value="Medium">Medium</option>
            <option value="Low">Low</option>
          </select>

          <label for="consequences">Consequences: </label>
          <textarea
            placeholder="What are the consequences to the organization or the information asset owner as a result of the outcome and breach of security requirements?"
            name="consequences"
            id="consequences"
            cols="70"
            rows="5"
          ></textarea>

          <h4 style="margin-top: 1rem; font-size: 1.2rem">Severity:</h4>
          <p>
            How severe are these consequences to the organization or asset owner
            by impact area?
          </p>
          <table>
            <thead>
              <tr>
                <th>Impact Area</th>
                <th style="width: 10rem">Value</th>
                <th style="width: 6rem">Score</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Reputation & Customer Confidence</td>
                <td>
                  <select
                    style="width: fit-content; margin: 0 auto"
                    name="area1"
                    id="area1"
                    hx-post="/score/{{ .ProjectId }}/1/0"
                  >
                    <option selected disabled value="">Choose one...</option>
                    <option value="3">High</option>
                    <option value="2">Medium</option>
                    <option value="1">Low</option>
                  </select>
                </td>
                <td><p id="score1" style="text-align: center">0</p></td>
              </tr>
              <tr>
                <td>Financial</td>
                <td>
                  <select
                    style="width: fit-content; margin: 0 auto"
                    name="area2"
                    id="area2"
                    hx-post="/score/{{ .ProjectId }}/2/0"
                  >
                    <option selected disabled value="">Choose one...</option>
                    <option value="3">High</option>
                    <option value="2">Medium</option>
                    <option value="1">Low</option>
                  </select>
                </td>
                <td><p id="score2" style="text-align: center">0</p></td>
              </tr>
              <tr>
                <td>Productivity</td>
                <td>
                  <select
                    style="width: fit-content; margin: 0 auto"
                    name="area3"
                    id="area3"
                    hx-post="/score/{{ .ProjectId }}/3/0"
                    hx-include="[name='total_score']"
                  >
                    <option selected disabled>Choose one...</option>
                    <option value="3">High</option>
                    <option value="2">Medium</option>
                    <option value="1">Low</option>
                  </select>
                </td>
                <td><p id="score3" style="text-align: center">0</p></td>
              </tr>
              <tr>
                <td>Safety & Health</td>
                <td>
                  <select
                    style="width: fit-content; margin: 0 auto"
                    name="area4"
                    id="area4"
                    hx-post="/score/{{ .ProjectId }}/4/0"
                    hx-include="[name='total_score']"
                  >
                    <option selected disabled>Choose one...</option>
                    <option value="3">High</option>
                    <option value="2">Medium</option>
                    <option value="1">Low</option>
                  </select>
                </td>
                <td><p id="score4" style="text-align: center">0</p></td>
              </tr>
              <tr>
                <td>Fines & Legal Penalties</td>
                <td>
                  <select
                    style="width: fit-content; margin: 0 auto"
                    name="area5"
                    id="area5"
                    hx-post="/score/{{ .ProjectId }}/5/0"
                    hx-include="[name='total_score']"
                  >
                    <option selected disabled>Choose one...</option>
                    <option value="3">High</option>
                    <option value="2">Medium</option>
                    <option value="1">Low</option>
                  </select>
                </td>
                <td><p id="score5" style="text-align: center">0</p></td>
              </tr>
              <tr>
                <td>Total Score:</td>

                <td><p id="display_score" style="text-align: center">0</p></td>
              </tr>
            </tbody>
          </table>

          <hr />

          <h1 style="margin-top: 1rem; margin-bottom: 2rem">
            Mitigate Risk/Threats
          </h1>

          <h4>The question that should be considered before filling out:</h4>
          <ol style="margin-bottom: 2rem">
            <li>
              Based on the total score for this risk, what action will you take?
            </li>
            <li>
              What administrative, technical, and physical controls would you
              apply on this container?
            </li>
            <li>
              What residual risk would still be accepted by the organization?
            </li>
          </ol>

          <table>
            <thead>
              <tr>
                <th>Containers</th>
                <th>Action/Control</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Technical</td>
                <td>
                  <textarea
                    placeholder="type here..."
                    name="technical"
                    id="technical"
                    cols="70"
                    rows="3"
                  ></textarea>
                </td>
              </tr>
              <tr>
                <td>Physical</td>
                <td>
                  <textarea
                    placeholder="type here..."
                    name="physical"
                    id="physical"
                    cols="70"
                    rows="3"
                  ></textarea>
                </td>
              </tr>
              <tr>
                <td>People</td>
                <td>
                  <textarea
                    placeholder="type here..."
                    name="people"
                    id="people"
                    cols="70"
                    rows="3"
                  ></textarea>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="container-btn" id="container-btn">
          <button style="display: inline" type="button" id="submit-btn">
            Submit
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
