<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      table {
        border-collapse: collapse;
        width: 250px;
        height: 20px;
      }

      th,
      td {
        border: 1px solid #dddddd;
        text-align: center;
        /* padding: 4px; */
        font-size: 8px;
      }

      th {
        background-color: #f2f2f2;
      }

      .checked {
        color: green;
      }
    </style>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>Field</th>
          <th>1</th>
          <th>2</th>
          <th>3</th>
          <th>4</th>
          <th>5</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="text-align: left">Reputation and Customer Confidence</td>
          <td>✅</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="text-align: left">Financial</td>
          <td>✅</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="text-align: left">Productivity</td>
          <td>✅</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="text-align: left">Safety and Health</td>
          <td>✅</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="text-align: left">Fines and Legal Penalties</td>
          <td>✅</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
