<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.9"
      integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <label for="">Severity:</label>
    <p>
      How severe are these consequences to the organization or asset owner by
      impact area?
    </p>
    <table>
      <thead>
        <tr>
          <th>Impact Area</th>
          <th>Value</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Reputation & Customer Confidence</td>
          <td>
            <select
              name="area"
              id="area1"
              hx-post="/score/area1/{{ .ProjectId }}"
              hx-target="#score1"
            >
              <option selected disabled>Choose one...</option>
              <option value="High">High</option>
              <option value="Medium">Medium</option>
              <option value="Low">Low</option>
            </select>
          </td>
          <td id="score1"></td>
        </tr>
        <tr>
          <td>Financial</td>
          <td>
            <select
              name="area"
              id="area2"
              hx-post="/score/area1/{{ .ProjectId }}"
              hx-target="#score2"
            >
              <option selected disabled>Choose one...</option>
              <option value="High">High</option>
              <option value="Medium">Medium</option>
              <option value="Low">Low</option>
            </select>
          </td>
          <td id="score2"></td>
        </tr>
        <tr>
          <td>Productivity</td>
          <td>
            <select
              name="area"
              id="area3"
              hx-post="/score/area3/{{ .ProjectId }}"
              hx-target="#score3"
            >
              <option selected disabled>Choose one...</option>
              <option value="High">High</option>
              <option value="Medium">Medium</option>
              <option value="Low">Low</option>
            </select>
          </td>
          <td id="score3"></td>
        </tr>
        <tr>
          <td>Safety & Health</td>
          <td>
            <select
              name="area4"
              id="area4"
              hx-post="/score/area4/{{ .ProjectId }}"
              hx-target="#score4"
            >
              <option selected disabled>Choose one...</option>
              <option value="High">High</option>
              <option value="Medium">Medium</option>
              <option value="Low">Low</option>
            </select>
          </td>
          <td id="score4"></td>
        </tr>
        <tr>
          <td>Fines & Legal Penalties</td>
          <td>
            <select
              name="area5"
              id="area5"
              hx-post="/score/area5/{{ .ProjectId }}"
              hx-target="#score5"
            >
              <option selected disabled>Choose one...</option>
              <option value="High">High</option>
              <option value="Medium">Medium</option>
              <option value="Low">Low</option>
            </select>
          </td>
          <td id="score5"></td>
        </tr>
      </tbody>
    </table>

    <p>Relative Score {{ .RelativeScore }}</p>
  </body>
</html>
