<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Allegro SRM</title>
    <link rel="stylesheet" href="/index.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.9"
      integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="container-top">
        <div class="prior">
          <h4>Impact Areas Priority</h4>
          <table>
            <thead>
              <tr>
                <th>Field</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="text-align: left">
                  Reputation and Customer Confidence
                </td>
                <td>✅</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td style="text-align: left">Financial</td>
                <td>✅</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td style="text-align: left">Productivity</td>
                <td>✅</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td style="text-align: left">Safety and Health</td>
                <td>✅</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td style="text-align: left">Fines and Legal Penalties</td>
                <td>✅</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="total-assets">
          <h3>Total Assets</h3>
          {{ if .TotalAssets }} {{ if gt .TotalAssets 0 }}
          <p>{{ .TotalAssets }}</p>
          {{ end }} {{ else }}
          <p>0</p>
          {{ end }}
        </div>

        <div class="total-risks">
          <h3>Total Risks</h3>
          {{ if .TotalRisks }} {{ if gt .TotalRisks 0 }}
          <p>{{ .TotalRisks }}</p>
          {{ end }} {{ else }}
          <p>0</p>
          {{ end }}
        </div>

        <div class="container-nav">
          <h3 class="user">User 1</h3>

          <div class="action-btn">
            <a href="/form" class="add-btn">➕ Create</a>
            <button hx-delete="/form" class="delete-btn">🗑️</button>
            <a href="/logout" class="logout-btn">Logout</a>
          </div>

          <select
            name="project-selector"
            id="project-selector"
            class="project-selector"
          >
            <option value="1" selected disabled>NONE</option>
            <option value="1">Project 1</option>
            <option value="2">Project 2</option>
            <option value="3">Project 3</option>
          </select>
        </div>
      </div>

      <div class="container-bottom">
        <div class="container-main">
          <div class="container-content">
            <div class="content">
              <div class="front">
                <h3>Area of Concer</h3>
                <p>aktor</p>
                <p>tujuan</p>
                <p>motif</p>
                <p>hasil</p>

                <h3>Risk name</h3>
                <p>relative score</p>
                <p>reason</p>
              </div>
              <div class="back">
                <h3>Consequences</h3>
                <p>
                  1. Dapat mengurangi produktivitas staf sehingga staf hanya
                  fokus pada memperbaiki bug/error pada aplikasi SAFANA. Selain
                  itu mahasiswa sulit
                </p>
                <p>
                  2. melakukan akses ke SAFANA hingga akhirnya mahasiswa tidak
                  menggunakan aplikasi SAFANA.
                </p>
              </div>
            </div>
            <div class="content">
              <h3>Risk name</h3>
              <p>relative score</p>
              <p>reason</p>
            </div>
            <div class="content">
              <h3>Risk name</h3>
              <p>relative score</p>
              <p>reason</p>
            </div>
            <div class="content">
              <h3>Risk name</h3>
              <p>relative score</p>
              <p>reason</p>
            </div>
            <div class="content">
              <h3>Risk name</h3>
              <p>relative score</p>
              <p>reason</p>
            </div>
          </div>
        </div>
        <div class="container-side">
          <div class="side-top">
            <h3>Chart</h3>
          </div>
          <div class="side-bottom">
            <a href="/add-asset-container">Add Asset & Container</a>
            <a href="/add-risk" style="margin-top: 0.5rem">Add Risk</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
