<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Allegro SRM</title>
    <link rel="stylesheet" href="/dashboard.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.9"
      integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="container-top">
        <div class="prior" id="prior">
          <h4>Impact Areas Priority</h4>
        </div>

        <div class="total-assets" id="total-assets">
          <h3>Total Assets</h3>
          <p>0</p>
        </div>

        <div class="total-risks" id="total-risks">
          <h3>Total Risks</h3>
          <p>0</p>
        </div>

        <div class="container-nav">
          <!-- <h3 class="user">User 1</h3> -->

          <div class="action-btn">
            <a href="/form" class="add-btn">➕ Create</a>
            <button class="delete-btn" id="delete-project">🗑️</button>
            <a href="/logout" class="logout-btn">Logout</a>
          </div>

          <div class="container-selector">
            <select
              name="project-selector"
              id="project-selector"
              class="project-selector"
              hx-get="/render"
              hx-target="#target"
              hx-swap="outerHTML"
            >
              {{ if .Projects }}
              <option value="NONE">CHOOSE PROJECT...</option>
              {{ range .Projects }} {{ if eq .ID $.ProjectId }}
              <option value="{{ .ID }}" selected>{{ .Title }}</option>
              {{ end }}
              <option value="{{ .ID }}">{{ .Title }}</option>
              {{ end }} {{ else }}
              <option>NONE</option>
              {{ end }}
            </select>

            <select
              name="asset-selector"
              id="asset-selector"
              hx-post="/asset"
              hx-target="#target"
              hx-swap="outerHTML"
              class="asset-selector"
            >
              <option selected disabled value="NONE">NONE</option>
            </select>
          </div>

          <div id="target"></div>
        </div>
      </div>

      <div class="container-bottom">
        <div class="container-main">
          <div class="container-content" id="container-content">
            <div style="background-color: var(--mirage)">
              <h3 style="margin: 10rem 25rem">None</h3>
            </div>
          </div>
        </div>
        <div class="container-side">
          <div class="side-top" id="side-top">
            <a>Add Asset & Container</a>
            <a style="margin-top: 0.5rem">Add Risk</a>
          </div>
          <div class="side-bottom">
            <h3>Chart</h3>
            <div class="container-chart" id="container-chart">
              <canvas id="myChart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js" id="lib"></script>
    <script id="script">
      const ctx = document.getElementById("myChart");

      Chart.defaults.color = "#FFFFFF";
      Chart.defaults.borderColor = "rgba(255, 255, 255, 0.3)";
      Chart.defaults.font.size = 10;

      new Chart(ctx, {
        type: "bar",
        data: {
          labels: ["Category 1", "Category 2", "Category 3", "Category 4"],
          datasets: [
            {
              label: "Risks",
              data: ["5", "3", "0", "0"],
              borderWidth: 1,
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
          },
          plugins: {
            legend: {
              labels: {
                font: {
                  size: 14,
                },
              },
            },
          },
        },
      });
    </script>

    <script id="coba"></script>
  </body>
</html>
