<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/form.css" />
  <script
    src="https://unpkg.com/htmx.org@1.9.9"
    integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
    crossorigin="anonymous"
  ></script>
  <body>
    <form class="form" id="form" name="form" action="/">
      <a href="/" class="back-btn">cancel</a>

      <div class="tab title">
        <h1>Project's Title</h1>
        <p>
          <input
            placeholder="type your project's title..."
            oninput="this.className = ''"
            name="title"
          />
        </p>
      </div>

      <div class="tab">
        <h1>REPUTATION AND CUSTOMER CONFIDENCE</h1>
        <p>
          <textarea
            id="reputation-low"
            rows="5"
            placeholder="E-mail..."
            oninput="this.className = ''"
            name="reputation-low"
          >
            Reputation is minimally affected; little or no effort or expense is required to recover.
          </textarea>
        </p>

        <p>
          <textarea
            id="reputation-moderate"
            rows="5"
            placeholder="E-mail..."
            oninput="this.className = ''"
            name="reputation-moderate"
          >
            Reputation is damaged, and some effort and expense are required to recover.
          </textarea>
        </p>

        <p>
          <textarea
            id="reputation-high"
            rows="5"
            placeholder="E-mail..."
            oninput="this.className = ''"
            name="reputation-high"
          >
            Reputation is irrevocably destroyed or damaged.
          </textarea>
        </p>
      </div>
      <div class="tab">
        Birthday:
        <p>
          <input placeholder="dd" oninput="this.className = ''" name="dd" />
        </p>
        <p>
          <input placeholder="mm" oninput="this.className = ''" name="nn" />
        </p>
        <p>
          <input placeholder="yyyy" oninput="this.className = ''" name="yyyy" />
        </p>
      </div>
      <div class="tab">
        Login Info:
        <p>
          <input
            placeholder="Username..."
            oninput="this.className = ''"
            name="uname"
          />
        </p>
        <p>
          <input
            placeholder="Password..."
            oninput="this.className = ''"
            name="pword"
            type="password"
          />
        </p>
      </div>
      <div style="overflow: auto">
        <div style="float: right">
          <button type="button" id="prev-btn" onclick="nextPrev(-1)">
            Previous
          </button>
          <button type="button" id="next-btn" onclick="nextPrev(1)">
            Next
          </button>
          <button type="submit" id="submit-btn" style="display: none">
            Submit
          </button>
        </div>
      </div>

      <div style="text-align: center; margin-top: 40px">
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
      </div>
    </form>

    <script src="/form.js"></script>
  </body>
</html>
