<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/form.css" />
  <script
    src="https://unpkg.com/htmx.org@1.9.9"
    integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
    crossorigin="anonymous"
  ></script>
  <body>
    <div class="container">
      <a href="/dashboard" class="back-btn">cancel</a>
      <form
        class="form"
        id="form"
        name="form"
        hx-post="/form"
        hx-target=".container-btn"
        hx-swap="beforeend"
        hx-indicator="#indicator"
        hx-encoding="application/x-www-form-urlencoded"
      >
        <!-- tab 1 - Project's Title -->
        <div class="tab" id="tab-1">
          <h1>Project's Title</h1>
          <input
            placeholder="type your project's title..."
            oninput="this.className = ''"
            name="title"
          />
        </div>

        <!-- tab 2 - Priorities -->
        <div class="tab">
          <input
            type="text"
            value="[0,0,0,0,0]"
            id="selector_state"
            name="selector_state"
            hx-swap-oob="true"
            hidden
          />
          <h1>IMPACT AREA PRIORITIZATION</h1>
          <label for="area1">Reputation and Customer Confidence: </label>
          <select
            name="area1"
            id="area1"
            hx-get="/impact/area1"
            hx-include="[name='selector_state']"
          >
            <option disabled selected value="0">None</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>

          <br />

          <label for="area2">Financial: </label>
          <select
            name="area2"
            id="area2"
            hx-get="/impact/area2"
            hx-include="[name='selector_state']"
          >
            <option disabled selected value="0">None</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>

          <br />

          <label for="area3">Productivity: </label>
          <select
            name="area3"
            id="area3"
            hx-get="/impact/area3"
            hx-include="[name='selector_state']"
          >
            <option disabled selected value="0">None</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>

          <br />

          <label for="area4">Safety and Health: </label>
          <select
            name="area4"
            id="area4"
            hx-get="/impact/area4"
            hx-include="[name='selector_state']"
          >
            <option disabled selected value="0">None</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>

          <br />

          <label for="area5">Fines and Legal Penalties: </label>
          <select
            name="area5"
            id="area5"
            hx-get="/impact/area5"
            hx-include="[name='selector_state']"
          >
            <option disabled selected value="0">None</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>

        <!-- tab 3 - Asset Profile -->
        <div class="tab">
          <h1>CRITICAL INFORMATION ASSET PROFILE</h1>

          <label for="critical_asset">Critical Asset:</label>
          <input
            oninput="this.className = ''"
            type="text"
            name="critical_asset"
            id="critical_asset"
            placeholder="Critical information assets are the most important assets to an organization."
          />

          <br />

          <label for="rationale">Rationale for Selection: </label>
          <textarea
            placeholder="Why is this information asset important to the organization?"
            name="rationale"
            id="rationale"
            cols="70"
            rows="5"
          ></textarea>

          <br />

          <label for="asset_desc">Description: </label>
          <textarea
            placeholder="What is the agreed-upon description of this information asset?"
            name="asset_desc"
            id="asset_desc"
            cols="70"
            rows="5"
          ></textarea>

          <br />

          <label for="asset_owners">Owner(s): </label>
          <textarea
            placeholder="Who owns this information asset?"
            name="asset_owners"
            id="asset_owners"
            cols="50"
            rows="5"
          ></textarea>

          <br />

          <label>
            <h4>Security Requirements</h4>

            <label for="confidentiality">Confidentiality: </label>
            <textarea
              placeholder="Only authorized personnel can view this information asset, as follows:"
              name="confidentiality"
              id="confidentiality"
              cols="50"
              rows="3"
              style="width: 25rem"
            ></textarea>

            <label for="integrity">Integrity: </label>
            <textarea
              placeholder="Only authorized personnel can modify this information asset, as follows:"
              name="integrity"
              id="integrity"
              cols="50"
              rows="3"
              style="width: 25rem"
            ></textarea>

            <label for="availability">Availability: </label>
            <textarea
              placeholder="This asset must be available for ___ hours, ___ days/week, ___ weeks/year."
              name="availability"
              id="availability"
              cols="100"
              rows="3"
              style="width: 25rem"
            ></textarea>
          </label>

          <label for="misr">Most Important Security Requirement: </label>
          <select name="misr" id="misr" oninput="this.className = ''">
            What is the most important security requirement for this information
            asset?
            <option selected disabled>Choose one...</option>
            <option value="Confidentiality">Confidentiality</option>
            <option value="Integrity">Integrity</option>
            <option value="Availability">Availability</option>
          </select>
        </div>

        <!-- tab 4 - Asset Container -->
        <div class="tab">
          <h1>Deskripsi Kontainer</h1>

          <label for="container_owners">Owner(s)</label>
          <textarea
            placeholder="Who owns this asset's container?"
            name="container_owners"
            id="container_owners"
            cols="50"
            rows="3"
          ></textarea>

          <label for="">
            <h4>Technical</h4>
            <label for="technical_internal" style="font-size: 0.9rem"
              >Internal:
            </label>
            <textarea
              placeholder="What information systems use or process this information asset?"
              name="technical_internal"
              id="technical_internal"
              cols="70"
              rows="5"
            ></textarea>
            <label for="technical_external" style="font-size: 0.9rem"
              >External:
            </label>
            <textarea
              placeholder="Are there customer or partner information systems that are externally managed that use or process this information asset?"
              name="technical_external"
              id="technical_external"
              cols="70"
              rows="5"
            ></textarea>
          </label>

          <label for="">
            <h4>Physical</h4>
            <label for="physical_internal" style="font-size: 0.9rem"
              >Internal:
            </label>
            <textarea
              placeholder="Are there places, other than on technical assets, where this information asset exists?"
              name="physical_internal"
              id="physical_internal"
              cols="70"
              rows="5"
            ></textarea>
            <label for="physical_external" style="font-size: 0.9rem"
              >External:
            </label>
            <textarea
              placeholder="Are there places external to the organization, other than on technical assets, where this information asset exists?"
              name="physical_external"
              id="physical_external"
              cols="70"
              rows="5"
            ></textarea>
          </label>

          <label for="">
            <h4>People</h4>
            <label for="people_internal" style="font-size: 0.9rem"
              >Internal:</label
            >
            <textarea
              placeholder="What people might have detailed knowledge of this information asset?"
              name="people_internal"
              id="people_internal"
              cols="70"
              rows="5"
            ></textarea>
            <label for="people_external" style="font-size: 0.9rem"
              >External:
            </label>
            <textarea
              placeholder="What people, external to your organization, might know about this information asset?"
              name="people_external"
              id="people_external"
              cols="70"
              rows="5"
            ></textarea>
          </label>
        </div>

        <div class="container-btn">
          <button type="button" id="prev-btn" onclick="changeTab(-1)">
            Previous
          </button>
          <button type="button" id="next-btn" onclick="changeTab(1)">
            Next
          </button>
          <button type="submit" id="submit-btn">Submit</button>
        </div>

        <p class="htmx-indicator" id="indicator">Loading</p>
      </form>

      <div style="text-align: center; margin-top: 0.5rem">
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
      </div>
    </div>

    <script src="/form.js"></script>
  </body>
</html>
