<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Allegro SRM</title>
    <link rel="stylesheet" href="/index.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.9"
      integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="container-top">
        <div class="chart">
          <p>chart</p>
        </div>
        <div class="total-assets">
          <h3>Total Assets</h3>
          <p>number</p>
        </div>
        <div class="total-containers">
          <h3>Total Containers</h3>
          <p>number</p>
        </div>

        <div class="container-nav">
          <h3 class="user">User 1</h3>

          <div class="action-btn">
            <a href="/form" class="add-btn">➕ Create</a>
            <button hx-delete="/form" class="delete-btn">🗑️</button>
            <button class="logout-btn">Logout</button>
          </div>

          <select
            name="project-selector"
            id="project-selector"
            class="project-selector"
          >
            <option value="" disabled>NONE</option>
            <option value="1" hx-post="">Project 1</option>
            <option value="1">Project 2</option>
            <option value="1">Project 3</option>
          </select>
        </div>
      </div>

      <div class="container-bottom">
        <div class="container-main">
          <div class="container-content">
            <div class="content">
              <h3>Risk name</h3>
              <p>relative score</p>
              <p>reason</p>
            </div>
          </div>
        </div>
        <div class="container-side">
          <div class="side-top">
            <h3>Measurement Criteria</h3>
            <p>text</p>
          </div>
          <div class="side-bottom">
            <h3>Impact Areas Priority</h3>
            <p>diagram</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
