<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Allegro SRM</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <div class="container">
      <div class="container-top">
        <div class="container-nav">
          <a href="/form" class="button">New Project</a>
          <select
            name="project-selector"
            id="project-selector"
            class="project-selector"
          >
            <option value="1">Project 1</option>
            <option value="1">Project 2</option>
            <option value="1">Project 3</option>
          </select>
        </div>
        <div class="container-user">
          <div>User 1</div>
          <button>Logout</button>
        </div>
        <div class="total-assets">
          <p>TOTAL assets</p>
          <p>00</p>
        </div>
        <div class="total-containers">
          <p>Total Containers</p>
          <p>00</p>
        </div>
        <div class="chart">
          <p>chart</p>
        </div>
      </div>
      <div class="container-bottom">
        <div class="container-main">
          <div class="container-content">
            <div class="content">
              <h3>Risk name</h3>
              <p>relative score</p>
              <p>reason</p>
            </div>
            <div class="content">
              <h3>Risk name</h3>
              <p>relative score</p>
              <p>reason</p>
            </div>
            <div class="content">
              <h3>Risk name</h3>
              <p>relative score</p>
              <p>reason</p>
            </div>
            <div class="content">
              <h3>Risk name</h3>
              <p>relative score</p>
              <p>reason</p>
            </div>
            <div class="content">
              <h3>Risk name</h3>
              <p>relative score</p>
              <p>reason</p>
            </div>
            <div class="content">
              <h3>Risk name</h3>
              <p>relative score</p>
              <p>reason</p>
            </div>
          </div>
        </div>
        <div class="container-side">
          <div class="side-top"></div>
          <div class="side-bottom"></div>
        </div>
      </div>
    </div>
  </body>
</html>
