<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Allegro SRM</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <div class="container">
      <div class="container-top">
        <div class="container-nav"></div>
        <div class="container-user">Lorem ipsum dolor sit.</div>
        <div class="total-assets">Lorem ipsum dolor sit.</div>
        <div class="total-containers">Lorem ipsum dolor sit.</div>
        <div class="chart">Lorem ipsum dolor sit.</div>
      </div>
      <div class="container-bottom">
        <div class="container-main"></div>
        <div class="container-side">
          <div class="side-top"></div>
          <div class="side-bottom"></div>
        </div>
      </div>
    </div>
  </body>
</html>
