<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/form.css" />
  <script
    src="https://unpkg.com/htmx.org@1.9.9"
    integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
    crossorigin="anonymous"
  ></script>
  <body>
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: blue;
      "
    >
      <a
        style="padding: 0.5rem 1rem; background-color: blue; color: white"
        href="/dashboard"
        >LOGIN</a
      >
    </div>
  </body>
</html>
