<div id="target"></div>

<button
  hx-delete="/project/{{ .ProjectId }}"
  class="delete-btn"
  id="delete-project"
  hx-swap-oob="true"
>
  🗑️
</button>

<select
  name="asset-selector"
  id="asset-selector"
  class="asset-selector"
  hx-post="/risk-by-asset"
  hx-target="#target"
  hx-swap="outerHTML"
  hx-swap-oob="true"
>
  {{ if .Assets }}
  <option selected>All Assets</option>
  {{ range .Assets }}
  <option value="{{ .ID }}">{{ .CriticalAsset }}</option>
  {{ end }} {{ else }}
  <option selected disabled>NONE</option>
  {{ end }}
</select>

<!-- Impact Priority -->
<div class="prior" id="prior" hx-swap-oob="true">
  {{ with .AreaPriority }}
  <h5 style="width: 5rem">Impact Areas Priority</h5>
  <table>
    <thead>
      <tr>
        <th>Field</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align: left">Reputation and Customer Confidence</td>
        {{ if eq .ReputationConfidence 1 }}
        <td>✅</td>
        {{ else }}
        <td></td>
        {{ end }} {{ if eq .ReputationConfidence 2 }}
        <td>✅</td>
        {{ else }}
        <td></td>
        {{ end }} {{ if eq .ReputationConfidence 3 }}
        <td>✅</td>
        {{ else }}
        <td></td>
        {{ end }} {{ if eq .ReputationConfidence 4 }}
        <td>✅</td>
        {{ else }}
        <td></td>
        {{ end }} {{ if eq .ReputationConfidence 5 }}
        <td>✅</td>
        {{ else }}
        <td></td>
        {{ end }}
      </tr>
      <tr>
        <td style="text-align: left">Financial</td>
        {{ if eq .Financial 1 }}
        <td>✅</td>
        {{ else }}
        <td></td>
        {{ end }} {{ if eq .Financial 2 }}
        <td>✅</td>
        {{ else }}
        <td></td>
        {{ end }} {{ if eq .Financial 3 }}
        <td>✅</td>
        {{ else }}
        <td></td>
        {{ end }} {{ if eq .Financial 4 }}
        <td>✅</td>
        {{ else }}
        <td></td>
        {{ end }} {{ if eq .Financial 5 }}
        <td>✅</td>
        {{ else }}
        <td></td>
        {{ end }}
      </tr>
      <tr>
        <td style="text-align: left">Productivity</td>
        {{ if eq .Productivity 1 }}
        <td>✅</td>
        {{ else }}
        <td></td>
        {{ end }} {{ if eq .Productivity 2 }}
        <td>✅</td>
        {{ else }}
        <td></td>
        {{ end }} {{ if eq .Productivity 3 }}
        <td>✅</td>
        {{ else }}
        <td></td>
        {{ end }} {{ if eq .Productivity 4 }}
        <td>✅</td>
        {{ else }}
        <td></td>
        {{ end }} {{ if eq .Productivity 5 }}
        <td>✅</td>
        {{ else }}
        <td></td>
        {{ end }}
      </tr>
      <tr>
        <td style="text-align: left">Safety and Health</td>
        {{ if eq .SafetyHealth 1 }}
        <td>✅</td>
        {{ else }}
        <td></td>
        {{ end }} {{ if eq .SafetyHealth 2 }}
        <td>✅</td>
        {{ else }}
        <td></td>
        {{ end }} {{ if eq .SafetyHealth 3 }}
        <td>✅</td>
        {{ else }}
        <td></td>
        {{ end }} {{ if eq .SafetyHealth 4 }}
        <td>✅</td>
        {{ else }}
        <td></td>
        {{ end }} {{ if eq .SafetyHealth 5 }}
        <td>✅</td>
        {{ else }}
        <td></td>
        {{ end }}
      </tr>
      <tr>
        <td style="text-align: left">Fines and Legal Penalties</td>
        {{ if eq .FinesLegalPenalties 1 }}
        <td>✅</td>
        {{ else }}
        <td></td>
        {{ end }} {{ if eq .FinesLegalPenalties 2 }}
        <td>✅</td>
        {{ else }}
        <td></td>
        {{ end }} {{ if eq .FinesLegalPenalties 3 }}
        <td>✅</td>
        {{ else }}
        <td></td>
        {{ end }} {{ if eq .FinesLegalPenalties 4 }}
        <td>✅</td>
        {{ else }}
        <td></td>
        {{ end }} {{ if eq .FinesLegalPenalties 5 }}
        <td>✅</td>
        {{ else }}
        <td></td>
        {{ end }}
      </tr>
    </tbody>
  </table>
  {{ else }}
  <h4>Impact Areas Priority</h4>
  {{ end }}
</div>

<!-- Total Assets -->
<div class="total-assets" id="total-assets" hx-swap-oob="true">
  <h3>Total Assets</h3>
  {{ if .TotalAssets }} {{ if gt .TotalAssets 0 }}
  <p>{{ .TotalAssets }}</p>
  {{ end }} {{ else }}
  <p>3</p>
  {{ end }}
</div>

<!-- Total Risks -->
<div class="total-risks" id="total-risks" hx-swap-oob="true">
  <h3>Total Risks</h3>
  {{ if .TotalRisks }} {{ if gt .TotalRisks 0 }}
  <p>{{ .TotalRisks }}</p>
  {{ end }} {{ else }}
  <p>0</p>
  {{ end }}
</div>

<!-- Add  -->
<div class="side-top" id="side-top" hx-swap-oob="true">
  {{ if .ProjectId }}
  <a href="/add-profile/{{ .ProjectId }}">Add Asset & Container</a>
  <a href="/add-risk/{{ .ProjectId }}" style="margin-top: 0.5rem">Add Risk</a>
  {{ else }}
  <a>Add Asset & Container</a>
  <a style="margin-top: 0.5rem">Add Risk</a> {{ end }}
</div>

<!-- Content -->
<div class="container-content" id="container-content" hx-swap-oob="true">
  {{ if .Contents }}
  <div class="content">
    <div class="front">
      <h3>Area of Concern: blabla</h3>

      <div class="bot">
        <div class="sec">
          <h5>Aktor:</h5>
          <p>Staf Unit ICT Fasilkom Unsri</p>
          <h5>Tujuan:</h5>
          <p>Akses dalam memodifikasi aplikasi SAFANA</p>
        </div>

        <div class="sec">
          <h5>Motif:</h5>
          <p>Human Error</p>
          <h5>Hasil:</h5>
          <p>Pengungkapan, modifikasi, dan interupsi.</p>
        </div>

        <div class="sec">
          <h5>Kebutuhan Keamanan:</h5>
          <p>Dilakukannya testing aplikasi sebelum melakukan</p>
        </div>

        <div class="sec">
          <h5>Kemungkinan:</h5>
          <p>Tinggi</p>
          <h5>Relative Score:</h5>
          <p>27</p>
        </div>
      </div>
    </div>
    <div class="back">
      <h3>Consequences</h3>
      <ol>
        <li>blabla</li>
        <li>blabla</li>
        <li>blabla</li>
      </ol>
    </div>
    <div class="content">
      <div class="front">
        <h3>Area of Concern: blabla</h3>

        <div class="bot">
          <div class="sec">
            <h5>Aktor:</h5>
            <p>Staf Unit ICT Fasilkom Unsri</p>
            <h5>Tujuan:</h5>
            <p>Akses dalam memodifikasi aplikasi SAFANA</p>
          </div>

          <div class="sec">
            <h5>Motif:</h5>
            <p>Human Error</p>
            <h5>Hasil:</h5>
            <p>Pengungkapan, modifikasi, dan interupsi.</p>
          </div>

          <div class="sec">
            <h5>Kebutuhan Keamanan:</h5>
            <p>Dilakukannya testing aplikasi sebelum melakukan</p>
          </div>

          <div class="sec">
            <h5>Kemungkinan:</h5>
            <p>Tinggi</p>
            <h5>Relative Score:</h5>
            <p>27</p>
          </div>
        </div>
      </div>
      <div class="back">
        <h3>Consequences</h3>
        <ol>
          <li>blabla</li>
          <li>blabla</li>
          <li>blabla</li>
        </ol>
      </div>
    </div>
  </div>
  {{ else }}
  <div style="background-color: var(--mirage)">
    <h3 style="margin: 10rem 25rem">None</h3>
  </div>
  {{ end }}
</div>

<!-- script -->
<div class="container-chart" id="container-chart" hx-swap-oob="true">
  <canvas id="myChart"></canvas>
</div>

<script id="script" hx-swap-oob="true" hx-on="htmx:afterSwap">
  function myCallBack() {
    console.log("Script dijalankan setelah htmx:afterSwap");
    const ctx = document.getElementById("myChart");

    Chart.defaults.color = "#FFFFFF";
    Chart.defaults.borderColor = "rgba(255, 255, 255, 0.3)";
    Chart.defaults.font.size = 10;

    new Chart(ctx, {
      type: "bar",
      data: {
        labels: ["Category 1", "Category 2", "Category 3", "Category 4"],
        datasets: [
          {
            label: "Risks",
            data: [1, 3, 5, 2],
            borderWidth: 1,
          },
        ],
      },
      options: {
        scales: {
          y: {
            beginAtZero: true,
          },
        },
        plugins: {
          legend: {
            labels: {
              font: {
                size: 14,
              },
            },
          },
        },
      },
    });
  }

  myCallBack();
</script>
