@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

/*CSS Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  background-color: var(--mirage);
}

html,
body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

/* COLOR */
:root {
  --tuna: #313b40;
  --dark-slate-grey: #29373d;
  --smoke-grey: #6c7376;
  --mirage: #0f191e;
  --butterfly-blue: #37a2ea;
  --timber-green: #1a2b32;
}

/* LAYOUT */
.container {
  /* background-color: red; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.container-top {
  background-color: var(--mirage);
  color: white;
  height: 19%;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  width: 98%;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.prior {
  height: 100%;
  width: 37%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--timber-green);
  border-radius: 0.7rem;
  text-align: start;
}

table {
  border-collapse: collapse;
  width: 70%;
  height: 20px;
}

th,
td {
  border: 1px solid var(--smoke-grey);
  text-align: center;
  font-size: 0.6rem;
  padding: 0 0.2rem;
}

th {
  background-color: var(--tuna);
}

.checked {
  color: green;
}

.total-assets {
  height: 100%;
  width: 12%;
  background-color: var(--timber-green);
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.total-projects {
  height: 100%;
  width: 14%;
  background-color: var(--timber-green);
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.total-risks {
  height: 100%;
  width: 12%;
  background-color: var(--timber-green);
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.container-nav {
  width: 21%;
  /* background-color: var(--timber-green); */
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
}

.action-btn {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  height: 3rem;
  font-size: 0.5rem;
}

.container-row-btn {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  /* padding: 0 0.2rem; */
  width: 100%;
  height: 2rem;
  gap: 0.2rem;
  justify-content: end;
}

.add-btn {
  background-color: var(--butterfly-blue);
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
  width: 7rem;
  padding: 0.2rem 0.2rem;
  text-align: center;
  border-radius: 0.3rem;
  font-weight: 600;
  transition: all 0.1s ease-in-out;
  align-self: center;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-items: center;
  padding-right: 1.4rem;
  line-height: 1;
}

.add-btn::before {
  content: "➕";
  font-size: 1.3rem; /* Sesuaikan ukuran sesuai kebutuhan */
  margin-left: 0.4rem;
}
.add-btn:hover {
  background-color: green;
}
.add-btn:active {
  transform: scale(1.1);
}
.delete-btn {
  background-color: var(--butterfly-blue);
  font-size: 0.8rem;
  width: 4.5rem;
  padding: 0.2rem 0.2rem;
  text-align: center;
  border-radius: 0.3rem;
  transition: all 0.1s ease-in-out;
  border: none;
  cursor: pointer;
  color: white;
  height: 2.5rem;
  font-weight: 600;
  align-self: center;
}
.delete-btn:hover {
  background-color: red;
}
.delete-btn:active {
  transform: scale(1.1);
}

.delete-asset {
  background-color: var(--butterfly-blue);
  font-size: 0.8rem;
  width: 4.5rem;
  padding: 0.2rem 0.2rem;
  text-align: center;
  border-radius: 0.3rem;
  transition: all 0.1s ease-in-out;
  border: none;
  cursor: pointer;
  color: white;
  height: 2.5rem;
  font-weight: 600;
  align-self: center;
}
.delete-asset:hover {
  background-color: red;
}
.delete-asset:active {
  transform: scale(1.1);
}

.container-selector {
  width: 100%;
  /* background-color: white; */
  margin-top: 2.1rem;
  margin-left: 0.1rem;
  display: flex;
  flex-direction: row;
}

.project-selector {
  background-color: var(--tuna);
  color: white;
  cursor: pointer;
  width: 57%;
  display: inline-block;
  padding: 0.3rem 0.1rem;
  text-align: center;
  border-radius: 0.3rem;
  margin-right: 0.4rem;
  font-size: 0.8rem;
}

.asset-selector {
  background-color: var(--tuna);
  color: white;
  cursor: pointer;
  padding: 0.3rem 0.1rem;
  width: 40%;
  text-align: center;
  display: inline-block;
  border-radius: 0.3rem;
  font-size: 0.8rem;
}

.asset_btn {
  padding: 0.1rem 0.3rem;
  font-size: 0.8rem;
  color: white;
  border-radius: 0.4rem;
  background-color: var(--butterfly-blue);
  text-align: center;
  align-self: center;
  justify-self: center;
  cursor: pointer;
  font-weight: 400;
}

.asset_btn:active {
  transform: scale(1.1);
}

.risk_btn {
  padding: 0.1rem 0.2rem;
  font-size: 0.8rem;
  color: white;
  border-radius: 0.4rem;
  background-color: var(--butterfly-blue);
  text-align: center;
  align-self: center;
  justify-self: center;
  cursor: pointer;
  width: 4rem;
}

.risk_btn:active {
  transform: scale(1.1);
}

/*  bottom  */
.container-bottom {
  /* background-color: blue; */
  /* background-color: var(--mirage); */
  color: white;
  height: 72%;
  width: 98%;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-self: center;
}

.container-main {
  /* background-color: var(--mirage); */
  /* background-color: palegoldenrod; */
  width: 85%;
  height: 96.5%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-right: 0.2rem;
  margin-right: 0.3rem;

  scrollbar-width: thin;
  scrollbar-color: var(--smoke-grey) var(--timber-green);
}
.container-main::-webkit-scrollbar {
  width: 0.2rem;
}
.container-main::-webkit-scrollbar-track {
  background-color: var(--timber-green);
}
.container-main::-webkit-scrollbar-thumb {
  background-color: var(--smoke-grey);
  border-radius: 0.2rem;
}
.container-main::-webkit-scrollbar-thumb:hover {
  background-color: white;
}

.container-content {
  /* background-color: var(--mirage); */
  /* background-color: blue; */
  height: 100%;
  width: 100%;
}

.content {
  background-color: var(--timber-green);
  height: 10rem;
  width: 100%;
  border-radius: 0.6rem;
  margin-bottom: 0.7rem;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out;
}

.content:hover {
  transform: rotateX(180deg);
}

.front {
  background-color: var(--timber-green);
  color: white;
  position: absolute;
  will-change: transform;
  backface-visibility: hidden;
  border-radius: 0.6rem;
  padding: 0.9rem 1rem 0.2rem 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.front p {
  font-size: 0.6rem;
}

.front h3 {
  font-size: 1rem;
  margin-bottom: 0.3rem;
  margin-top: 0.5rem;
}

.front h5 {
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

.bot {
  /* background-color: var(--tuna); */
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  gap: 1rem;
}

/* .sec {
  margin-right: 0.4rem;
} */

.back {
  background-color: var(--tuna);
  transform: rotateX(180deg);
  color: white;
  position: absolute;
  will-change: transform;
  backface-visibility: hidden;
  border-radius: 0.6rem;
  padding: 0.6rem 1rem 0.2rem 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.back h3 {
  text-align: center;
  /* margin-top: 0.5rem; */
  margin-bottom: 0.7rem;
}

.back p {
  font-size: 0.6rem;
}

.back h5 {
  margin-top: 0.2rem;
  font-size: 0.9rem;
}

.back ol {
  margin-left: 1.5rem;
  font-size: 0.8rem;
}

.container-side {
  /* background-color: red; */
  background-color: var(--mirage);
  width: 23%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.side-top {
  background-color: var(--timber-green);
  width: 99%;
  height: 100%;
  align-self: end;
  margin-bottom: 1rem;
  font-size: 1rem;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.side-top h3 {
  /* background-color: red; */
  margin-top: 0.7rem;
  font-size: 1.5rem;
}

.container-chart {
  /* background-color: blue; */
  height: 50%;
  width: 100%;
  display: flex;
  margin-top: 0.7rem;
  justify-content: center;
}

.matrix {
  /* background-color: blue; */
  /* font-size: 0.3rem; */
  height: 50%;
  width: 100%;
  display: flex;
  margin-top: 1.2rem;
  justify-content: center;
}

.matrix th,
.matrix td {
  font-size: 0.5rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.notification-box {
  background-color: var(--dark-slate-grey);
  padding: 1.2rem;
  text-align: center;
  border-radius: 0.2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 25%;
}

.notification-box h4 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.notification-box a {
  background-color: var(--butterfly-blue);
  border: none;
  padding: 0.3rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.2rem;
  cursor: pointer;
  margin-top: 2rem;
}
.notification-box a:active {
  transform: scale(1.2);
}
